.header-wrapper{
    display: flex;
    justify-content: space-between;
}
.header-wrapper ul{
    display: flex;
}
.header-wrapper ul li{
    list-style-type: none;
    padding: 20px;

}
.header-wrapper ul li a{
    text-decoration: none;

}
.footer-wrapper{
    bottom: 0;
    /* margin-bottom: 0; */
    text-align: center;
    width: 100%;
    position: fixed;
    font-size: 15px;
}